.searching {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;

  &__input {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid lightgray;
    padding: 1rem;

    &:focus {
      outline: 0.1rem solid #6633ff;
    }
  }
}