.answer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem 0;

  &-row {
    display: flex;
    flex-direction: row;
  }

  &-title {
    color: #330099;
    font-size: 1.5rem;
    text-decoration: none;
  }

  &-description {
    font-size: 0.8rem;
    margin: 0;
    color: #666666;
  }
}
